{#
| Variable    | Type    | Description                                                      |
|-------------|---------|------------------------------------------------------------------|
| url         | string  |                                                                  |
| image.url   | string  |                                                                  |
| image_1.url | string  |                                                                  |
| title       | ?string |                                                                  |
| position    | Int     | Sorting number start from zero                                   |
#}
<section class="s-block s-block--main-banner wide-placeholder">
{% if component.showgreen %}
<div class="greenline"></div>
 {% endif %}
    <div class="container3">
         {% if component.title %}
        <div class="s-block__title">
            <div class="right-side">
                <h2>{{ component.title }}</h2>
            </div>
        </div>
    {% endif %}

        {# Desktop Image #}
        <img style="width: 100%;" src="{{ component.image }}" fetchpriority="high" class="hidden sm:block" />

        {# Mobile Image #}
        <img style="width: 100%;" src="{{ component.image_1 }}" fetchpriority="high" class="sm:hidden" />
    </div>
</section>
